<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

  <menuitem name="menu-toolapp-planning" title="Planning" action="tdb.planning.view"/>

  <action-view name="tdb.planning.view" title="Planning">
    <view type="dashboard" name="tdb.planning.dashboard"/>
  </action-view>



  <menuitem name="menu-toolapp-supplier-catalog" title="Catalogue Fournisseur"
    action="supplier.catalog.view" parent="sc-root-purchase" order="11" icon="fa-reorder"/>

  <action-view name="supplier.catalog.view" title="Catalogue Fournisseur"
    model="com.axelor.apps.purchase.db.SupplierCatalog">
    <view type="grid" name="supplier-catalog-partner-grid"/>
    <view type="form" name="supplier-catalog-partner-form"/>
  </action-view>

  <menuitem name="menu-toolapp-purchase-order-line" title="Ligne de commande d'achat"
    action="purchase.order.line.view" parent="sc-root-purchase" order="26" icon="fa-reorder"/>

  <action-view name="purchase.order.line.view" title="Ligne de commande d'achat"
    model="com.axelor.apps.purchase.db.PurchaseOrderLine">
    <view type="grid" name="purchase-order-line-menu-grid"/>
    <view type="form" name="purchase-order-line-all-form"/>
  </action-view>

  <menuitem name="menu-toolapp-sale-order-line" title="Ligne de commande de vente"
    action="sale.order.line.view" parent="sc-root-sale" order="26" icon="fa-reorder"/>

  <action-view name="sale.order.line.view" title="Ligne de commande de vente"
    model="com.axelor.apps.sale.db.SaleOrderLine">
    <view type="grid" name="sale-order-line-menu-grid"/>
    <view type="form" name="sale-order-line-all-form"/>
  </action-view>


  <menuitem name="menu-toolapp-stock" title="Menu Stock"/>
  <menuitem name="menu-toolapp-stock-detail" title="Détail des stocks par produit"
    action="custome.detail.stock" parent="menu-toolapp-stock"/>
  <action-view id="Detail stock" name="custome.detail.stock"
    model="com.axelor.apps.base.db.Product" title="Detail Stock">
    <view name="supplychain-stock-details-by-product-custo-form" type="form"/>
    <domain>self.dtype = 'Product'</domain>
    <context name="_isFromMenu" expr="eval: true"/>
  </action-view>

  <menuitem name="menu-toolapp-stock-product" title="Arborescence des produits et stock"
    action="custome.detail.stock.bom.vga" parent="menu-toolapp-stock"/>
  <action-view id="Arbre" name="custome.detail.stock.bom.vga"
    model="com.axelor.apps.production.db.TempBomTree" title="Arborescence produit et stock">
    <view name="bom-custo-form" type="form"/>
    <context name="_isFromMenu" expr="eval: true"/>
  </action-view>

  <menuitem name="menu-toolapp-stock-projection" title="Projection des stocks"
    action="custome.detail.stock.mrp" parent="menu-toolapp-stock"/>


  <menuitem name="sale-conf-ecotax" parent="sc-root-sale-conf" title="Eco tax"
    action="sale.conf.ecotax" order="97"/>

  <action-view name="sale.conf.ecotax" title="Eco tax"
    model="com.axelor.apps.toolapp.db.EcoTax">
    <view type="grid" name="eco-tax-grid"/>
    <view type="form" name="eco-tax-form"/>

  </action-view>

  <menuitem name="sale-recalculate-ecotax" parent="sc-root-sale-conf"
    title="Recalcul Eco tax" action="sale.recalculate.ecotax" order="98"/>

  <action-method name="sale.recalculate.ecotax">
    <call class="bzh.toolapp.apps.specifique.web.SaleOrderRecalculateSpecificController"
      method="recalculateEcoTax"/>
  </action-method>

  <menuitem name="sale-recalculate-planning" parent="sc-root-sale-conf"
    title="Recalcul Planning" action="sale.recalculate.planning" order="99"/>

  <action-method name="sale.recalculate.planning">
    <call class="bzh.toolapp.apps.specifique.web.SaleOrderRecalculateSpecificController"
      method="recalcultateStockMoveLineRef"/>
  </action-method>

</object-views>